*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 20px;
}
.container{
    width: 800px;
    height: 800px;
    border: 2px solid green;
    margin: 0 auto;

    display: flex;

    }

.container > *{
    flex: auto;
}
