*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 10px;
}

button{
    padding: 5px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

    border: 1px none;
    background-color: green;
    color: aliceblue;
    font-weight: 900;
    border-radius: 5px;
}
.container{
    width: 800px;
    height: 800px;
    border: 2px solid green;
    margin: 0 auto;

    display: flex;

    }

.container > *{
    flex: auto;
}
